        * {
            margin: 0;
        }
        
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        /* Header Section */
        
        header {
            box-shadow: 0 4px 2px -2px grey;
        }
        
        .header-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: white;
            height: 120px;
        }
        
        header h1 aside ul {
            font-family: 'Georgia', Times, Times New Roman, serif;
        }
        
        .aside-container {
            margin-left: 2.3em;
        }
        
        .header-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 960px;
            margin: 0 auto;
            /* background-color: pink; */
        }
        
        aside {
            padding: 25px;
            background-color: #4aaaa5;
            color: white;
            font-weight: bold;
            font-size: large;
            width: 120px;
            height: 20px;
            text-align: center;
            margin: 2.8em 0 0 -36px;
        }
        
        nav {
            margin: 5em 0 0 0;
            background-color: white;
        }
        
        ul,
        li {
            padding-inline-start: 0px;
            display: inline-block;
            padding: 10px;
        }
        
        li {
            padding: 0px 15px 0px 10px;
            border-right: 2px solid lightgrey;
            text-align: center;
        }
        
        a {
            color: gray;
            text-decoration: none;
        }
        
        a:hover {
            color: #ec184d;
            text-decoration: none;
            cursor: pointer;
            border-bottom: 3px solid #ec184d;
        }
        
        .nav-links li:last-child {
            border: none;
        }
        /* Main Body Section */
        
        body {
            background-image: url("../images/dust_scratches.png");
        }
        
        .main-container {
            width: 950px;
            margin: 40px auto;
        }
        
        img {
            float: left;
            margin: 10px 10px 10px 0px;
        }
        
        section {
            background-color: #fff;
            margin-right: 15px;
            box-shadow: 0px 2px 2px 0px grey;
        }
        
        section h1 {
            color: #4aaaa5;
            padding: 20px 10px 0px 20px;
        }
        
        hr {
            margin: 10px 20px 0px 20px;
        }
        
        p {
            font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
            color: grey;
            font-size: small;
            padding: 20px 20px 10px 20px;
            line-height: 25px;
        }
        /* Footer Section */
        
        .footer {
            margin: auto auto 0 auto;
            background: #666666;
            color: white;
            width: 100%;
            text-align: center;
            padding: 30px 0px 20px 0px;
            border-top: 5px solid #4aaaa5;
        }
        /* Media Quries */
        /* 980px */
        
        @media screen and (max-width: 980px) {
            section {
                width: 60%;
                margin: 0px 35px 0px 35px;
            }
            .header-container {
                height: 70px;
            }
            .header-content {
                margin: -50px 35px 0px 35px;
            }
            img {
                margin-right: 21px;
                height: auto;
            }
        }
        /* Media Quries */
        /* 768px */
        
        @media screen and (max-width: 768px) {
            .main-container {
                width: 100%;
                margin: 40px auto;
            }
            section {
                width: 96%;
                margin: 0px 15px 0px 15px;
            }
            .header-container {
                height: 70px;
            }
            .header-content {
                margin: -50px 15px 0px 15px;
            }
            img {
                width: 50%;
                height: auto;
            }
        }
        /* Media Quries */
        /* 640px */
        
        @media screen and (max-width: 640px) {
            nav {
                box-shadow: 0 4px 2px -2px grey;
            }
            .main-container {
                width: 100%;
                margin: 60px auto;
            }
            section {
                width: 96%;
                margin: 0 auto;
            }
            .header-container {
                height: 70px;
            }
            .header-content {
                display: flex;
                flex-direction: column;
                margin: -50px 0px 0px 0px;
            }
            img {
                width: 100%;
                height: auto;
            }
            .main-nav {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                margin: 0;
            }
            aside {
                width: 100%;
                margin: 50px -50px 0px -50px;
            }
        }